endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer, qbcore, qb-core"

## You MAY edit the following:
sv_licenseKey "cfxk_hx67WY0wCxTtpcQ4onYi_1y8Nzp"
sv_hostname "AquaRP "
sets sv_projectName "[AQCore] AquaRP"
sets sv_projectDesc "Waar de stad tot leven komt!"
sets locale "nl-NL"
load_server_icon myLogo.png
set sv_enforceGameBuild 2372
set mysql_connection_string "mysql://root@localhost/fivem?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure aq-core
ensure [aq]
ensure [standalone]
ensure [voice]
ensure [defaultmaps]
ensure [maps]
ensure [dependencies]

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:a8afc723222a860440916313d2de69e0bf7cbff6 group.superadmin #GeitJoch
